*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    align-items: center;
}