*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.valores{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

label{
    display: block;
}